// src/app/styles/_variables.scss
$color0: #98a4d7;
$color1: #f6f5f4;
$color2: #94a9fc;
$color3: #42598e;
$color4: #7f8994;
$color5: #161a25;
$superdark: $color5;
$border: rgba(148, 168, 253, 0.08);
$borderLight: rgba(148, 168, 253, 0.2);
$borderMedium: rgba(148, 168, 253, 0.5);
