@use "@/app/styles/index.scss" as *;

.about_hero {
	// background: url(/assets/images/about-hero-bg.png) no-repeat
	// 	center center/cover;

	// padding: 71px 0;
	height: 624px;

	.about_hero_text {
		background: linear-gradient(
			270deg,
			rgba(0, 0, 0, 0.65) 0%,
			rgba(55, 58, 65, 0.65) 100%
		);
		opacity: 0.7;
		padding: 20px 12px 20px 10px;
		// width: 50%;
		width: 656px;
		color: #ced7ff;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
		height: 135px;
		top: 100px;
	}

	@media screen and (max-width: 992px) {
		height: 235px;
		.about_hero_text {
			width: 90%;
			font-size: 14px;
			opacity: 0;
		}
	}
}

.about_sections {
	// padding-top: 76px;
	// padding-bottom: 74px;
	// padding: 76px 62px 74px 62px;
	padding-top: 69px;
	padding-left: 62px;
	padding-right: 62px;

	&.mission {
		padding-top: 0;
		padding-top: 76px;
	}

	// .section-title {
	//   font-size: 36px;
	//   font-weight: 700;
	//   color: $color0;
	//   margin-bottom: 40px;
	//   text-align: center;
	//   position: relative;
	//   z-index: 1;

	//   &::before {
	//     content: "";
	//     position: absolute;
	//     width: 40%;
	//     height: 1px;
	//     background-color: $color0;
	//     left: 0;
	//     top: 25px;
	//     z-index: -1;
	//   }
	//   &::after {
	//     content: "";
	//     position: absolute;
	//     width: 40%;
	//     height: 1px;
	//     background-color: $color0;
	//     right: 0;
	//     top: 25px;
	//     z-index: -1;
	//   }
	// }

	.section-title {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 35px;

		h2 {
			margin: 0 15px;
			font-size: 36px;
			font-weight: 700;
			color: $color0;
			text-align: center;
		}

		.line {
			flex: 1;
			height: 1px;
			background-color: $color0;
			opacity: 0.5;
		}

		@media (max-width: 768px) {
			margin: 18px;
			h2 {
				font-size: 24px;
			}

			.line {
				flex: 0.5;
			}
		}
	}

	// &.investment-process .section-title {
	//   margin-bottom: 50px !important;
	// }
	// &.core-values .section-title {
	//   margin-bottom: 33px;
	// }

	p {
		font-size: 16px;
		margin: 0;
		margin-bottom: 10px;
	}

	/* @media (max-width: 768px) {
		p {
			font-size: 14px;
		}
	} */

	// &.team {
	//   margin: 50px 0;
	//   padding: 0 62px 64px 62px;
	// }
	// &.investment-process {
	//   margin: 50px 0;
	//   padding: 0px 61px 38px 56px;
	// }
	&.core-values {
		// margin: 50px 0 0 0;
		// padding: 0px 57px 194px 60px;
		padding-bottom: 96px;
		h5 {
			font-size: 24px;

			@media screen and (max-width: 992px) {
				font-size: 20px;
			}
		}
	}

	@media screen and (max-width: 768px) {
		padding: 0 20px 0 20px !important;

		&.team {
			padding: 20px 0;
		}
	}
}
