@use "./index.scss" as *;

header {
  position: sticky;
  top: 0;
  z-index: 999999;
  max-width: 100vw;
}

.navbar-main {
  // background: linear-gradient(0deg, #3c3f45 0%, #24252b 100%);
  background: linear-gradient(270deg, #000 0%, #404659 100%);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  // padding: 12px 0 !important;
  padding: 0 0 0 25px !important;
  position: relative;

  // &.about-innovat {
  //   background: linear-gradient(270deg, #000 0%, #3f4452 100%) !important;
  // }

  // .navbar-collapse.collapse.show {
  //   background: linear-gradient(270deg, #25272b 0%, #373a41 100%);
  // }

  @media screen and (max-width: 400px) {
    .navbar-wrapper-container {
      padding: 14px 16px 14px 16px !important;
    }
  }

  @media screen and (max-width: 991px) {
    background: linear-gradient(270deg, #25272b 0%, #373a41 100%);
    padding: 0 !important;

    .navbar-wrapper-container {
      width: 100%;
      max-width: 100vw;
      position: sticky;
      top: 0;
      z-index: 999999;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 20px;
      background: linear-gradient(270deg, #000 0%, #404659 100%);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .navbar-collapse {
      position: absolute;
      top: 80px;
      padding: 0px 0px;
      left: 0;
      width: 100%;
      max-width: 100vw;
      z-index: 9999;
      background: linear-gradient(270deg, #000 0%, #404659 100%);
      // background-color: red;
      .NavList {
        height: calc(100vh - 80px);
        max-width: 100%;
      }

      .NavList a {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }
  }

  // .container {
  //   padding: 0;

  //   @media (max-width: 1230px) {
  //     // padding: 0 15px;
  //   }
  // }

  .navbar-brand {
    margin: 0;
    padding: 0;
    // width: 145px;
    // height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 145px;
    // img {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: contain;
    // }
  }

  .NavList {
    // gap: 42px;
    font-size: 20px;
    font-weight: 500;
    margin-left: auto;
    // margin-left: 69px;
    // margin-right: 66px;

    a {
      color: $color0;
      font-size: 20px;
      font-weight: 700;
      margin: 0;
      display: flex;
      align-items: center;
      line-height: 120%;
      justify-content: center;
      min-width: 165px;
      min-height: 95px;
      &:first-child {
        min-width: 190px;
      }

      &.active {
        background: $color0 !important;
        color: #33363e !important;
        &::after {
          filter: brightness(0);
        }
      }
      @media (max-width: 1199px) {
        min-width: 140px;
        &:first-child {
          min-width: 165px;
        }
      }
      @media (max-width: 1150px) {
        font-size: 18px;
      }
      @media (max-width: 1080px) {
        // padding: 25px !important;
        font-size: 16px;
        min-width: 125px;
        &:first-child {
          min-width: 150px;
        }
      }

      @media screen and (max-width: 991px) {
        padding: 26px 20px !important;
        font-size: 16px;
        min-height: 70px;
        min-width: auto !important;
        border-bottom: 1px dotted rgba(152, 164, 215, 0.25);
        position: relative;
        justify-content: start;
        &::after {
          content: "";
          background-image: url(/public/assets/images/arrow-right.svg);
          width: 8px;
          height: 15px;
          background-size: 8px;
          background-repeat: no-repeat;
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    @media (max-width: 991px) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 25px;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;

      a {
        width: 100%;
      }
    }
  }

  // .nav-link {
  //   color: $color0;
  //   font-size: 16px;
  //   font-weight: 500;
  //   padding: 0 !important;
  //   margin: 0;
  //   display: flex;
  //   align-items: center;

  //   &.active {
  //     color: $color0;
  //   }
  // }

  .nav-right-icons {
    @media (max-width: 575.98px) {
      flex-direction: row !important;
    }
  }

  .navIcon {
    font-size: 30px;
    padding: 7px !important;
    margin: 0px;
    margin-right: 25px;

    color: $color0;
    display: flex;
    justify-items: center;
    align-items: center;

    &.active {
      color: $color0;
    }

    @media (max-width: 1199.98px) {
      margin: 0 10px;
    }

    @media (max-width: 575.98px) {
      margin: 0 0;
      font-size: 25px;
    }
  }

  .loginNav {
    background: $color0;
    color: #232731;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    height: 70px;
    padding: 0 18px !important;
    gap: 7px;

    @media (max-width: 991px) {
      height: 60px;
    }

    @media (max-width: 575.98px) {
      padding: 0 10px !important;
      height: 50px;
    }
  }

  .navbar-toggler {
    padding: 12px 5px;
    border: 0;
    outline: none;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }

    .navbar-toggler-icon {
      filter: invert(82%) sepia(43%) saturate(464%) hue-rotate(194deg)
        brightness(98%) contrast(103%);
    }
  }

  // .navbar-brand {
  //   @media (max-width: 992px) {
  //     img {
  //       height: 35px;
  //     }
  //   }
  // }
}

.offcanvas {
  @media (max-width: 991.98px) {
    background: linear-gradient(0deg, #3c3f45 0%, #24252b 100%);

    .nav-link {
      color: $color0;
      padding: 10px 15px;
    }

    .btn-close {
      filter: invert(82%) sepia(43%) saturate(464%) hue-rotate(194deg)
        brightness(98%) contrast(103%);
    }
    .searchBar {
      border-left: none;
    }
  }
}

@media screen and (max-width: 991px) {
  .NavList.navbar-nav {
    gap: 0px;
  }
  .icontainer {
    overflow: inherit !important;
  }
  .navbar-expanded.navbar-main {
    position: fixed !important;
    z-index: 9999;
  }
}
.social-icons {
  list-style-type: none;
  justify-content: center !important;
  width: 100%;
  padding-left: 0;
  position: absolute;
  gap: 3px;
  bottom: 20px;
  margin-bottom: 20px;

  li {
    a {
      color: #98a4d7;
      border: none !important;
      &::after {
        content: none !important;
      }
    }
    img {
      height: 35px;
    }
  }
}
@media screen and (max-width: 991px) {
  .navbar-main .NavList .social-icons li a {
    padding: 0px 5px !important;
  }
}
